
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
/* h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal} */
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit; font-size:100%}
legend{color:#000}#yui3-css-stamp.cssreset{display:none}

nav
{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #a2d3b6;
    padding: 10px;
}
#menu
{

}
.menu-item
{
    margin-right: 10px;
    padding: 10px;
    background-color: #d3ffe4;
    border-radius: 10px;
}
#menu ul
{
    display: grid;
    grid: auto-flow dense / 1fr 1fr 1fr;
}
.menu-link
{
    text-decoration: none;
    color: #0f0f0f;
}
.btn
{
    display: inline-table;
    border-radius: 10px;
    padding: 10px;
}
.btn-small
{
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}
.btn-primary
{
    background-color: rgb(11, 92, 72);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.btn-secondary
{
    background-color: rgb(184, 184, 184);
    color: #0f0f0f;
}
.container
{
    width: 100%;
    margin-top: 10px;
}
.jumbotron
{
    padding: 40px;
    background-color: #5fd48e;
}
.linha
{
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    display: grid;
    grid: auto-flow dense / 1fr 1fr 1fr;
}
.coluna
{
    width: 90%;
}
footer
{
    color: white;
    margin-top: 20px;
    background-color: #037932;
    padding: 20px;
}
footer p
{
    width: 100%;
    text-align: center;
}